<?xml version="1.0" encoding="UTF-8" ?>
<robot name="box">

    <material name="green">
        <!--
         rgba: red green blue alpha
         [0-255]
         [0.0-1.0]　float
         -->
        <color rgba="0 1.0 0 0.5"/>
    </material>

    <!-- link -->
    <link name="base">
        <visual>
            <geometry>
                <!-- x y z -->
                <box size="1 2 3"/>
            </geometry>
            <material name="green"/>
        </visual>
    </link>

</robot>